
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* set the height to fill the entire viewport */
  }

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
  }
  


 .button-list__button {
    width: 150%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
   
  }
  
  /* .button-list__button:hover {
    background-color: lightgray;
  }
  */